.whitePaper{
    background-color: whitesmoke;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 300;
    justify-content: center;
    align-items: center;
}
.verify-otp{
    margin-top: 30em;
    position: fixed;
    place-self: center;
    align-items: center;
    font-size: 18px;
    padding: 30px 50px;
    border-radius: 10px;
    width: 40%;
    font-family: 'Poppins',sans-serif;
    z-index: 305;
}

.verify-otp button:nth-child(2){
    background-color: skyblue;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    width: 100px;
    margin:10px;
    margin-left: 2px;
}
button:nth-child(2):disabled{
    cursor: not-allowed;
    background-color: #ccc;
}

  button:disabled {
    cursor: not-allowed;
    background-color: #ccc;
  }

@media (max-width:750px) {
    .verify-otp{
        width: 100%;
    }
}