.settings{
    padding: 20px;
    width: 50%;
    align-items: center;
    place-self: center;
    padding-top: 150px;
}
.settings h1{
    font-size: 24px;
    margin-bottom: 10px;
}
@media (max-width:768px) {
    .settings{
        width: 100%;
    }
}