.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
    overflow-x: auto;
}
.add p{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
}
.add form{
    gap: 20px;
}

.add-product-name, .add-product-descriptions{
    width: max(40%,280px);
}
.add-product-name input, .add-product-descriptions textarea{
    padding: 10px;
}
.add-category select{
    width: 20%;
    padding: 5px;
}
.add-category select option{
    color: #555;
}
.add-category-price{
    display: flex;
    gap: 30px;
}
.add-price input{
    width: 15%;
    padding: 10px;
}
.add-category-price select, .add-category-price input{
    max-width: 120px;
    padding: 10px;
}
.add-passenger{
    width: 100px;
}
.add-passenger input{
    padding: 10px 20px;
    width: 100%;
}
.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
}