.list-table-format{
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 1.5fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    align-items: center;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font: 13px;
}
.list-table-format.title{
    background-color: #f9f9f9;
}
.list-table-format img{
    width: 60px;
}
.list-table-format img.ride-image{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.list-image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit:fill;
}
.list-table-format .cursor img{
    width: 25px;
}

.list-table-format .cursor img:hover{
    background-color: rgb(247, 201, 193);
    border-radius: 5px;
}
@media (max-width:600px) {
    .list-table-format{
        grid-template-columns: 1fr 3fr 1fr;
        gap: 15px;
    }
    .list-table-format.title{
        display: none;
    }
}