.verify{
    min-height: 60vh;
    display: grid;
    margin-top: 150px;
}
.verify .spinner{
    width: 100px;
    height: 100px;
    place-self: center;
    border: 5px solid #bdbdbd;
    border-top-color: rebeccapurple;
    border-radius: 50%;
    animation: rotate 10s infinite;
}
@keyframes rotate{
    100%{
        transform:rotate(360deg);
    }
}