.order h3{
  margin: 20px 40px;
}
.order-item{
    display:grid;
    grid-template-columns:0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid #113255;
    padding: 20px;
    margin: 30px 0;
    font-size: max(1.5vw,14px);
    color: #505050;
    overflow-x: auto;
}
.order-item-design, .order-item-name{
    font-weight: 600;
}
.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}
.order-item-address{
    margin-bottom: 10px;
}
.order-item select{
    background-color: #ffe8e4;
    border: 1px solid #113255;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
}
.status-badge {
    padding: 0.3em 0.6em;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    margin-bottom: 0.5rem;
  }
  
  .status-approved {
    background-color: #28a745;
    color: white;
  }
  .status-partially{
    background:violet;
    color:white;
  }
  
  .status-completed {
    background-color: #007bff;
    color: white;
  }
  
  .status-cancelled {
    background-color: #dc3545;
    color: white;
  }
  .status-pending{
    background-color: gold;
    color:gray;
  }
  
  .status-refunds {
    background-color: #ffc107;
    color: black;
  }
  
  .status-reschedule {
    background-color: #6c757d;
    color: white;
  }
  select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background: #f9f9f9;
  }
@media (max-width:1000px){
    .order-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
}