.Lastpartners{
   margin: 20px;
   margin-bottom: 200px;
}
.Lastpartners .containerBg2{
    background: url('/Inside-car.jpg');
    position: relative;
    height: 40vh;
    background-position: center center;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 30px;
    display: flex;
    transition: all 0.3s;
}
.containerBg2 .container5_last{
    background-color:  rgba(10, 50, 63, 80);
    padding: 20px 40px;
    text-align: start;
    border-radius: 30px;
    height: fit-content;
    width: 400px;
    position:absolute;
    right: 20px;
}
.container5_last p{
    color: white;
    font-family: "poppins", arial;
    font-size: 13px;
    line-height: 1.3;
    word-spacing:1px;
}
.container5_last b{
    font-size: 35px;
    color: white;
}
.container5_last button{
    background-color: white;
    color:black;
    border: none;
    padding: 10px 20px;
    height: 20%;
    border-radius: 30px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        background-color:rgba(12, 132, 168, 0.2);
        color: white;
    }
}

@media (max-width:750px) {
        .Lastpartners .containerBg2{
        height: 50vh;
        width: 100%;
    }
    .containerBg2 .container5_last{
        position: absolute;
        bottom: -150px;
        right: 0;
        width: fit-content;
    }
}

@media (max-width:500px) {
        .container5_last p{
        font-size: 16px;
    }
    .container5_last b{
        font-size: 28px;
    }
}