.overlay{
  position:absolute;
  top:0;
  left:0;
  background-color:rgb(250, 250, 233);
  width:100%;
  height:100vh;
  z-index:100;
}
.overlay .logo{
  display: flex;
  float: left;
}
.overlay .logo img{
  width: 80px;
  margin: 20px 40px;
  cursor: pointer;
  border-radius:50%;
}
.add-driver {
    display:grid;
    width: 80%;
    margin: 0 auto;
    padding: 100px 20px;
    z-index:101;
    place-self:center;
  }
  
  .add-driver h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 20px;
    color:#444;
  }
  
  .driver-form {
    display: grid;
    grid-template-columns: repeat(3, 0.3fr );
    flex-direction:row;
    flex-wrap:wrap;
    gap: 30px;
    }
  
  .form-group {
    display: grid;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color:#555;
  }
  .form-group b{
    color: red;
    font-size: 20px;
  }
  .form-group em{
    font-weight: 400;
  }
  .form-group input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
  }
  .form-group select{
    padding: 8px 32px;
    border: 1px solid gray;
    border-radius: 4px;
  }
  
  button.submit-btn {
    padding: 0 30px;
    border: none;
    background-color: #183758;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-btn:hover {
    background-color: rgb(102, 51, 153, 0.6);
  }
  .add-driver p a{
    color: darkblue;
    font-size: 18px;
  }
  @media (max-width:768px) {
    .overlay{
      position: absolute !important; 
      height: 200vh;
      z-index: 120;
    }
    .add-driver{
        width: 90%;        
    }
    .driver-form{
      display: flex;
      flex-direction: column;
    }
    .form-group input{
      padding: 8px 40px;
    }
    button.submit-btn{
      padding:15px 30px;
    }
  }
