.booking-dashboard {
  max-width: 100%;
  margin-top: -120px;
  font-family: 'Roboto', sans-serif;
}
.booking-dashboard h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  color: #2C3E50;
}

/* Define grid layout with two columns */
.booking-grid {
  display: grid;
  grid-template-columns: 1fr 320px;
  margin: 0;
  width: 100%;
  gap: 20px;
  border: 1px solid #ccc;
  border-right: 0;
  background-color: rgba(159, 216, 235, 0.1);
}

/* Main content area */
.booking-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 15px;
}

/* Sidebar area */
.booking-sidebar {
  position: sticky;
  top: 100px; /* Adjust to your navbar height */
  align-self: start;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .booking-dashboard{
    margin-top: 15px;
  }
  .booking-grid {
    display: flex;
    flex-direction: column;
  }
  .booking-sidebar {
    position: static;
  }
}
