.login-container{
    position: fixed;
    display: grid;
    z-index: 1500;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.9);
    -webkit-user-select: none;
    user-select: none;
    opacity: 1;
    transition: all 0.5s;
}

.closeButton{
    transition: all 0.4s;
    &:hover{
        background-color:rgb(0, 0,0,0.1);
        border-radius: 5px;
    }
}