.deliveryInfo{
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    padding: 40px;
}
.deliveryInfo h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    text-align:center;
}

.info {
    align-items: center;
    text-align: justify;
    margin-bottom: 10px;
    margin-left: 10%;
}
.info a{
    font-weight: bold;
    color: rebeccapurple;
}