.driver-footer {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 50px 0 0;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 400px;
  }
  .driver-footer .logo{
    float: left;
  }
  .driver-footer .logo img{
    position: relative;
    top: -10px;
    width: 70px;
    margin: 20px 40px;
    cursor: pointer;
  }
  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
  }
  
  .footer-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }
  
  .footer-info p {
    margin: 50px 0;
    font-size: 0.9em;
  }
   