.auth{
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.auth .overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.9);
    height: 100vh;
    width: 100%;
    z-index: 6;
}
.auth form h2{
    font-family: 200;
    font-size: 20px;
    margin-bottom: 50px;
    font-family: impact;
    text-decoration:underline;
}
.auth form{
    position: absolute;
    background-color: rgb(232, 230, 230);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    padding: 50px 50px;
    font-size: 18px;
    place-self: center;
    margin-left: 25%;
    z-index: 6;
}
.auth form input{
    margin-top: 50px;
    padding: 10px 20px;
    margin: 0 10px;
    letter-spacing: 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    outline: 1px solid #ccc;
    &:focus{
        outline: 1px solid deepskyblue;
    }
}
.auth form button{
    margin-top: 30px;
    padding: 5px 15px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: all 0.5s;
    background-color: transparent;
    outline: 1px solid gray;
    color: black;
    &:hover{
        background-color: rgb(158, 157, 157);
    outline: none;
    }
}
.auth form button.subButton{
    background-color:deepskyblue;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
.overlay .back{
    font-size: 18px;
    margin: 20px 30px;
    cursor: pointer;
}

@media (max-width:767px) {
    .auth form{
        margin-left: 0;
        padding: 100px 10px;
    }
    input.subButton{
        margin-top: 10px;
    }
}
