.overlay .logo{
    display: flex;
    float: left;
}
.overlay .logo img{
    width: 80px;
    margin: 20px 40px;
    cursor: pointer;
    border-radius:50%;
}
.form{
    margin: 100px 30%;
}
.form p a{
    color: darkblue;
    font-size: 18px;
}

@media (max-width:768px) {
    .form{
        margin: 100px 15%;
    }
    .overlay .logo img{
        width: 60px;
        margin: 20px 20px;
    }
}