.car-show-list{
    margin-top: 10vw;
    font-family: "poppins", arial;
    place-self: center;
}
h1{
    text-align: center;
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: bold;
}
h2{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    color: rgb(64, 61, 107);
}
.car-show{
    display: flex;
    justify-content: space-between;
    gap: 0;
    transition: all 0.3s;
    border-radius: 1px solid gray;
    background-color: whitesmoke;
    padding: 30px 20px;
    border-radius: 20px;
}
.car-show p{
    margin: 10px 5px;
    margin-left: 30px;
    font-size: 18px;
    font-family: "poppins", arial;
    text-align: start;
    word-spacing: -3px;
}

.car-show img{
    width: 30%;
    height: 50%;
    border-radius: 20px;
    transition: all 5s;
    animation: opacity 5s ease-in-out infinite;
}
@keyframes opacity {
    100%{
        opacity: 0.5;
        transition: transform 1s;
    }
    50%{
        opacity: 1;
        transition: transform 1s;
    }
    0%{
        opacity: 0;
        transition: transform 1s;
    }
}
.car-show .arrowMiddle::before{
    content: "\2193";
    color: #444;
    font-size: 42px;
    transition: all 0.3s;
    margin-top: 100px;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.car-show button{
    background-color: transparent;
    outline: 1px solid rgb(64, 61, 107);
    color: rgb(64, 61, 107);
    width: 100%;
    height: 20%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        background-color:rgba(12, 132, 168, 0.2);
    }
}

@media (max-width:768px) {
    .car-show{
        place-self: center;
        flex-direction: column;
        margin: 20px 0px;
        gap: 0;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .car-show img{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
}