.app-download{
    margin:40px 10px;
    margin-top: 100px;
    font-size: max(1.5vw, 18px);
    text-align: center;
    font-family: 500;
    color: #333;
}
.app-download-img{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 40px;
}
.app-download-img img{
    width: max(33vw,138px);
    max-width:250px;
    cursor: pointer;
    transition: 0.5s;
}
.app-download-img img:hover{
  transform: scale(1.05);
}

@media (max-width:750px) {
    .app-download h1{
        font-size: 20px;
    }
}