.faq{
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    padding: 40px 60px;
}
.faq h1{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
.inform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}
.inform .question{
    font-weight: 600;
    max-width: fit-content;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s;
    padding: 10px 20px;
    font-size:16px;
    border-radius: 50px;
    background-color: deepskyblue;
    color: #454545;
    &:hover{
        color: #747474;
    }
}
.inform .answer{
    cursor: pointer;
    width: 70%;
    max-width: fit-content;
    font-size: 16px;
    padding: 10px;
    color:#171717;
    background-color: #f4f4f4;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin-bottom: 20px;
    font-weight: 400;
    font-family:Calibri ;
    margin-left: 30%;
}

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
    font-size: 25px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color:#ccc;
    transition: background-color 0.3s;
    &:hover{
        background-color: rgb(186, 183, 183);
        color: #2c2b2b;
    }
    &:active{
        transform: scale(0.9);
    }
}
.text{
    display: flex;
    margin: 20px auto;
    justify-content: space-evenly;
}
.text textarea{
    border: none;
    outline: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
}
.text input{
    border: none;
    outline: 1px solid rebeccapurple;
    border-radius: 2px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 50px;
    &:hover{
        background-color: rgb(122, 70, 173);
        color: white;
    }
}
